<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Pizzeria</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <form>
        <div class="row">
          <div class="mb-3 col-4">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="pedido.nombre" name="nombre" placeholder="Nombre">
          </div>
          <div class="mb-3 col-4">
            <label class="form-label">Dirección</label>
            <input type="text" class="form-control" [(ngModel)]="pedido.direccion" name="direccion"
              placeholder="Dirección">
          </div>
          <div class="mb-3 col-4">
            <label class="form-label">Teléfono</label>
            <input type="text" class="form-control" [(ngModel)]="pedido.telefono" name="telefono" placeholder="Teléfono"
              maxlength="10">
          </div>
          <div class="mb-3 col-4">
            <label class="form-label">Tamano de Pizza</label>
            <div class="mb-3 form-check" *ngFor="let tamano of tamanos">
              <input type="radio" class="form-check-input" id="exampleCheck" [(ngModel)]="pedido.tamano"
                [value]="tamano.id" name="tamano">
              <label class="form-check-label" for="exampleCheck1">{{tamano.nombre}} {{tamano.precio |
                currency:'MXN':'symbol':'1.2-2'}}</label>
            </div>
          </div>
          <div class="mb-3 col-4">
            <label class="form-label">Ingredientes</label>
            <div class="mb-3 form-check" *ngFor="let ingrediente of ingredientes">
              <input type="checkbox" class="form-check-input" id="exampleCheck"
                [(ngModel)]="pedido.ingredientes[ingrediente.id]" [value]="ingrediente.id" name="ingredientes">
              <label class="form-check-label" for="exampleCheck1">{{ingrediente.nombre}} {{ingrediente.precio |
                currency:'MXN':'symbol':'1.2-2'}}</label>
            </div>
          </div>
          <div class="mb-3 col-4">
            <label class="form-label">Num. de Pizzas</label>
            <input type="number" class="form-control" [(ngModel)]="pedido.cantidad" name="cantidad"
              placeholder="Cantidad">
          </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Agregar" (click)="agregarPedido()">
      </form>
    </div>
    <input type="submit" class="btn btn-primary my-5" value="Terminar" (click)="terminarPedido()">
    <div class="col-6">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Tamano</th>
              <th scope="col">Ingredientes</th>
              <th scope="col">Num. Pizzas</th>
              <th scope="col">SubTotal</th>
            </tr>
          </thead>
          <tbody *ngFor="let pedido of pedidos">
            <tr>
              <td>{{tamanos[pedido.tamano].nombre}}</td>
              <td>
                {{getIngredientes(pedido)}}
              </td>
              <td>{{pedido.cantidad}}</td>
              <td>{{pedido.precio | currency:'MXN':'symbol':'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12" *ngIf="finalizado">
      <table>
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of detalles">
            <td>{{detalle.nombre}}</td>
            <td>{{detalle.precio | currency:'MXN':'symbol':'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
      <h3>Total: {{total | currency:'MXN':'symbol':'1.2-2'}}</h3>
    </div>
  </div>
</div>